
*, *::before, *::after {
  box-sizing: border-box;
}


* {
  margin: 0;
  padding: 0;
}

/* 3. Set core root defaults */
html, body {
  height: 100%;
}

/* 4. Set core body defaults */
body {
  line-height: 1.5; /* A sensible default for readability */
  -webkit-font-smoothing: antialiased; /* Improve font rendering */
}

/* 5. Make images, videos, etc. easier to work with */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 6. Remove built-in form typography styles */
input, button, textarea, select {
  font: inherit;
}

/* 7. Make headings easier to style */
h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* 8. Remove list styles */
ul, ol {
  list-style: none;
}